# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
#/sites/all/libraries/Zend/
/sites/all/libraries/prro/logs/
/sites/all/libraries/prro/kasa-*/files_printer/
/sites/all/libraries/prro/kasa-*/logs/
/sites/all/libraries/prro/sign0321/logs/
/sites/all/modules/TooPro/.idea/
/.idea/
