[Unit]
Description=CheckBox Kasa run with systemctl start checkbox@fop2; systemctl start checkbox@fop3;
After=network.target
StartLimitIntervalSec=1
[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/bin/checkbox_kasa --config /var/www/website/sites/default/files-private/tps/prro/%i/config.json
[Install]
WantedBy=multi-user.target